@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --cl-primary: #908DB8;
    --cl-primary-alt: #8683ad;
    --cl-secondary: #D0D2E1;
    --cl-third: #A9A9C5;
    --cl-black: #1e1e1e;
    --cl-white: #ebecf1;
    --cs-side-padding: 32px;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(24, 134, 224) !important;
}

body {
    min-height: 100vh;
    background-image: url('background.svg');
    background-size: cover;
}